{% extends "base.html" %}

{% block content %}
    {% if logged_in_player %}
        <p>Connecté en tant que <b>{{ logged_in_player }}</b>
        (<a href="/logout">Déconnexion</a>)</p>
    {% endif %}
    <h1>Explorateur de codes</h1>

{% if logged_in_player %}
<div class="msection">
<h1>Programmes éditables</h1>

<dl>
  <dt>{{playerDir}}</dt>
  <dd>
    <ul>
        {%- for path in ownedFiles|sort %}
          <li><a href="{{playerDir}}/{{path}}">{{path}}</a></li>
        {% endfor %}
        <li><input type="text" placeholder="nouveau fichier" data-url="{{playerDir}}/"></input></li>
    </ul>
  </dd>
</dl>

</div>
{% endif %}

<div class="msection">
<h1>Programmes des autres joueurs</h1>
<dl>
  {%- for directory, files in filesByDirectory|dictsort %} 
    <dt>{{directory}}</dt>
    <dd>
      <ul>
        {%- for path in files|sort %}
          <li><a href="{{directory}}/{{path}}">{{path}}</a></li>
        {%endfor %}
      </ul>
    </dd>
  {%endfor %}
</dl> 
</div>

<script type="text/javascript">
 
 document.onkeyup = function(event) {

  if (event.keyCode != 13) return;
    var filename = event.target.value;
    function endsWith(str, suffix) {
        return str.indexOf(suffix, str.length - suffix.length) !== -1;
   }
    if (! /^[-_A-Za-z0-9.]+$/.test(filename)) {
      alert("Nom de fichier invalide ! Il ne faut pas d'espaces ni de caractères accentués.");
      return;
    }
    if (! endsWith(filename,".js")) {
      filename = filename + ".js";
    }
    window.location = event.target.dataset.url + filename;
  }

  var li_input = document.querySelector("ul > li > input").parentNode;

  li_input.style.borderColor = "teal";
  li_input.style.padding = "0";
  li_input.style.boxShadow = "none";

</script>



{% endblock %}
