<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Editing {{fname}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
      body {
        font-family: sans-serif;
        overflow: hidden;
        margin: 0px; padding: 0px;
      }
      #editor {
        position: absolute;
        top: 3em;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background-color: #EEE;
        z-index: 0;
      }
      #toolbar {
        z-index: 9999;
        top: 1.5em;
        position: absolute;
      }
    </style>
  </head>
<body>
<p><b>Editing {{fname}}</b>
<span id="status">
{% if not can_save %} (not yours) {% else %} (saved) {% endif %}
</span>
- <a href="/edit/">back</a>
<div id="toolbar">
  <input type='button' {% if not can_save %} disabled {% endif %} id="saveButton" value='Save'/>
  <input type='button' id="cleanButton" value='Clean'/>
  <input type='button' id="toggleBlocksButton" value='Toggle Blocks'/>
</div>
<div id="editor" data-file-url="{{file_url}}" {% if can_save %} data-save-url="{{save_url}}" {% else %} data-read-only="true" {% endif %}>
</div>

<script src="/static/js/bundle.js"></script>

</body>
</html>
