<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Editing {{fname}}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>


  <body>
    
    <!-- Conteneur qui va accueillir la Toolbox --!>
    
    <div id="blocklyDiv" style="height: 480px; width: 600px;"></div>
    
    <!-- Toolbox contenant les blocks custom et standards --!>

    <xml id="toolbox" style="display: none">
        <sep></sep>
        <category id="catDrone" name="Drone">
            <block type="drone"></block>
            <block type="materials"></block>
            <block type="animals"></block>
            <block type="rectangle"></block>
            <block type="circle"></block>
            <block type="delete"></block>
            <block type="drone_move"></block>
        </category>
        <category id="catInventory" name="Inventaire">
            <block type="inventory"></block>
            <block type="tools"></block>
            <block type="food"></block>
            <block type="transportation"></block>
            <block type="weapons_armor"></block>
        </category>
        <sep></sep>
        <category id="catLogic" name="Logique">
            <block type="controls_if"></block>
            <block type="logic_compare"></block>
            <block type="logic_operation"></block>
            <block type="logic_negate"></block>
            <block type="logic_boolean"></block>
            <block type="logic_null"></block>
            <block type="logic_ternary"></block>
        </category>
        <category id="catLoops" name="Boucles">
            <block type="controls_repeat_ext">
                <value name="TIMES">
                    <block type="math_number">
                        <field name="NUM">10</field>
                    </block>
                </value>
            </block>
            <block type="controls_whileUntil"></block>
            <block type="controls_for">
                <value name="FROM">
                    <block type="math_number">
                        <field name="NUM">1</field>
                    </block>
                </value>
                <value name="TO">
                    <block type="math_number">
                        <field name="NUM">10</field>
                    </block>
                </value>
                <value name="BY">
                    <block type="math_number">
                        <field name="NUM">1</field>
                    </block>
                </value>
            </block>
            <block type="controls_flow_statements"></block>
        </category>
        <category id="catMath" name="Maths">
            <block type="math_number"></block>
            <block type="math_arithmetic"></block>
            <block type="math_single"></block>
            <block type="math_trig"></block>
            <block type="math_constant"></block>
            <block type="math_number_property"></block>
            <block type="math_change">
                <value name="DELTA">
                    <block type="math_number">
                        <field name="NUM">1</field>
                    </block>
                </value>
            </block>
            <block type="math_round"></block>
            <block type="math_on_list"></block>
            <block type="math_modulo"></block>
            <block type="math_constrain">
                <value name="LOW">
                    <block type="math_number">
                        <field name="NUM">1</field>
                    </block>
                </value>
                <value name="HIGH">
                    <block type="math_number">
                        <field name="NUM">100</field>
                    </block>
                </value>
            </block>
            <block type="math_random_int">
                <value name="FROM">
                    <block type="math_number">
                        <field name="NUM">1</field>
                    </block>
                </value>
                <value name="TO">
                    <block type="math_number">
                        <field name="NUM">100</field>
                    </block>
                </value>
            </block>
            <block type="math_random_float"></block>
        </category>
        <sep></sep>
        <category id="catText" name="Texte">
            <block type="text"></block>
            <block type="text_join"></block>
            <block type="text_append">
                <value name="TEXT">
                    <block type="text"></block>
                </value>
            </block>
            <block type="text_length"></block>
            <block type="text_isEmpty"></block>
            <block type="text_indexOf">
                <value name="VALUE">
                    <block type="variables_get">
                        <field name="VAR" class="textVar">...</field>
                    </block>
                </value>
            </block>
            <block type="text_charAt">
                <value name="VALUE">
                    <block type="variables_get">
                        <field name="VAR" class="textVar">...</field>
                    </block>
                </value>
            </block>
            <block type="text_getSubstring">
                <value name="STRING">
                    <block type="variables_get">
                        <field name="VAR" class="textVar">...</field>
                    </block>
                </value>
            </block>
            <block type="text_changeCase"></block>
            <block type="text_trim"></block>
            <block type="text_print"></block>
            <block type="text_prompt_ext">
                <value name="TEXT">
                    <block type="text"></block>
                </value>
            </block>
        </category>
        <category id="catLists" name="Listes">
            <block type="lists_create_empty"></block>
            <block type="lists_create_with"></block>
            <block type="lists_repeat">
                <value name="NUM">
                    <block type="math_number">
                        <field name="NUM">5</field>
                    </block>
                </value>
            </block>
            <block type="lists_length"></block>
            <block type="lists_isEmpty"></block>
            <block type="lists_indexOf">
                <value name="VALUE">
                    <block type="variables_get">
                        <field name="VAR" class="listVar">...</field>
                    </block>
                </value>
            </block>
            <block type="lists_getIndex">
                <value name="VALUE">
                    <block type="variables_get">
                        <field name="VAR" class="listVar">...</field>
                    </block>
                </value>
            </block>
            <block type="lists_setIndex">
                <value name="LIST">
                    <block type="variables_get">
                        <field name="VAR" class="listVar">...</field>
                    </block>
                </value>
            </block>
            <block type="lists_getSublist">
                <value name="LIST">
                    <block type="variables_get">
                        <field name="VAR" class="listVar">...</field>
                    </block>
                </value>
            </block>
            <block type="lists_split">
                <value name="DELIM">
                    <block type="text">
                        <field name="TEXT">,</field>
                    </block>
                </value>
            </block>
        </category>
        <category id="catVariables" name="Variables "custom="VARIABLE">
       <category id="catColour">
       </category>
    </xml>


    <!-- chargement de Blockly et des blocs de base --!>

    <script src="/static/blockly_compressed.js"></script>
    <script src="/static/blocks_compressed.js"></script>

    <!-- chargement des blocks custom (description et javascript) --!>

    <script src="/static/customblocks.js"></script>
    <script src="/static/customblocks-javascript-generator.js"></script>

    <!-- langue FR pour les blocks de base et les blocks custom --!>

    <script src="/static/fr_1.js"></script>
    <script src="/static/fr_2.js"></script>

    <!-- injection de la toolbox dans le div --!>

    <script>
      var workspace = Blockly.inject('blocklyDiv', {toolbox: document.getElementById('toolbox')});
    </script>

    <!--script src="/static/bundle.js"></script--!>

  </body>

</html>
