{% extends "base.html" %}

{% block content %}
    {% if logged_in_player %}
        <p>You are logged in as <em>{{ logged_in_player }}</em>
        (<a href="/logout">Log out</a>)</p>
    {% endif %}
    <h1>Browse JavaScript files</h1>

{% if logged_in_player %}
<p> You can edit the following files: </p> 
<dl>
  <dt>{{playerDir}}</dt>
  <dd>
    <ul>
        {%- for path in ownedFiles|sort %}
          <li><a href="{{playerDir}}/{{path}}">{{path}}</a></li>
        {% endfor %}
        <li><input type="text" placeholder="enter new file name" data-url="{{playerDir}}/"></input></li>
    </ul>
  </dd>
</dl>
{% endif %}
<p> You can read the following files: </p> 
<dl>
  {%- for directory, files in filesByDirectory|dictsort %} 
    <dt>{{directory}}</dt>
    <dd>
      <ul>
        {%- for path in files|sort %}
          <li><a href="{{directory}}/{{path}}">{{path}}</a></li>
        {%endfor %}
      </ul>
    </dd>
  {%endfor %}
</dl> 

<script type="text/javascript">
  document.onkeyup = function(event) {
    if (event.keyCode != 13) return;
    var filename = event.target.value;
    function endsWith(str, suffix) {
        return str.indexOf(suffix, str.length - suffix.length) !== -1;
    }
    if (! endsWith(filename,".js")) {
      filename = filename + ".js";
    }
    window.location = event.target.dataset.url + filename;
  }
</script>
{% endblock %}
