{% extends "base.html" %}

{% block content %}

<style>

ul {
 list-style-type: none;
 padding: 0;
}

ul li {
 font-weight: bold;
}

</style>

<p><span style="border-bottom: 5px solid #11FF66;"> Vous pouvez utiliser les fichiers suivants :</span></p> 

<ul>
{%- for file in schemFiles|sort %}
	<li>{{ file }}</li>
{% endfor %}
</ul>

{% if logged_in_player %}

<p><span style="border-bottom: 5px solid #001122;"> Envoyer un fichier :</span></p> 

<form enctype="multipart/form-data" method="post" action="/upload">
    <p><input type="file" id="schemLoader" name="schemLoader" accept=".schematic">
    Taille : <span id="fileSize"></span></p>

    <button type="submit" id="sendSchemFile">Envoyer !</button>
</form> 

{% endif %}


<script>

document.getElementById("schemLoader").onchange = function(event){

  input = document.getElementById("schemLoader");
  fsize = document.getElementById("fileSize");

  schemFile = input.files[0];
  schemSize = schemFile.size/1024;

  fsize.innerHTML = schemSize.toFixed(1) + " KiB";

};

</script>

{% endblock %}
