<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Edit JS files</title>
  </head>

  <body>
    <h1>Edit JS files</h1>

<p> <a href="/logfile">Check logfile</a> </p> 

<p> Edit one of the follwing files: </p> 
<ul> 

$flist
<script type="text/javascript">
  document.onkeyup = function(event) {
    if (event.keyCode != 13) return;
    var filename = event.target.value;
    function endsWith(str, suffix) {
        return str.indexOf(suffix, str.length - suffix.length) !== -1;
    }
    if (! endsWith(filename,".js")) {
      filename = filename + ".js";
    }
    window.location = event.target.dataset.url + filename;
  }
</script>

</ul> 


<p> TODO: 
<ul> 
<li> restore file from backup
</ul> 

    <hr>
  </body>
</html>
